body {
    font-family: Arial, sans-serif;
}

.title, .subtitle {
    text-align: center;
}

.centered-image {
    display: block;
    margin: 20px auto;
}

.large-image {
    width: 1500px;
}

.medium-image {
    width: 600px;
}
